package {{package}};

import org.http4k.core.Method
import org.http4k.core.Request
import org.http4k.core.RequestContexts
import org.http4k.core.Response
import org.http4k.core.Status
import org.http4k.routing.RoutingHttpHandler
import org.http4k.routing.bind
import org.http4k.routing.path
import org.http4k.routing.routes
import org.openapitools.server.toJson
import org.openapitools.server.fromJson

{{#imports}}import {{import}}
{{/imports}}

abstract class {{classname}}(val context: RequestContexts) {
{{#operations}}
    {{#operation}}

    {{#interfaceOnly}}{{>apiInterface}}{{/interfaceOnly}}{{^interfaceOnly}}{{>apiMethod}}{{/interfaceOnly}}
    {{/operation}}
{{/operations}}

    val routes = routes({{#operations}}{{#operation}}{{nickname}}Handler{{^-last}}, {{/-last}}{{/operation}}{{/operations}})
}
